In [1]:
# import all the necessary modules
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler,OneHotEncoder
from sklearn.feature_selection import SelectFromModel
from sklearn.compose import ColumnTransformer, make_column_transformer
from sklearn.pipeline import make_pipeline
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.impute import SimpleImputer
from sklearn.linear_model import Lasso, LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import GaussianNB

In [2]:
churn= pd.read_csv('Churn_Modelling.csv', index_col=None)
churn.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
churn.shape

(10000, 14)

In [4]:
y=churn.Exited
X=churn.drop(['Exited'],axis=1)

In [5]:
X=pd.get_dummies(X,drop_first=True)
X.shape

(10000, 2944)

In [6]:
X.head()

,RowNumber,CustomerId,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,...,Surname_Zotova,Surname_Zox,Surname_Zubarev,Surname_Zubareva,Surname_Zuev,Surname_Zuyev,Surname_Zuyeva,Geography_Germany,Geography_Spain,Gender_Male
0,1,15634602,619,42,2,0.00,1,1,1,101348.88,...,0,0,0,0,0,0,0,0,0,0
1,2,15647311,608,41,1,83807.86,1,0,1,112542.58,...,0,0,0,0,0,0,0,0,1,0
2,3,15619304,502,42,8,159660.80,3,1,0,113931.57,...,0,0,0,0,0,0,0,0,0,0
3,4,15701354,699,39,1,0.00,2,0,0,93826.63,...,0,0,0,0,0,0,0,0,0,0
4,5,15737888,850,43,2,125510.82,1,1,1,79084.10,...,0,0,0,0,0,0,0,0,1,0

In [7]:
sc=StandardScaler()
X=sc.fit_transform(X)

In [8]:
select=SelectFromModel(LogisticRegression(C=1,penalty='l1'))

In [9]:
select.fit(X,y)

ValueError: Solver lbfgs supports only 'l2' or 'none' penalties, got l1 penalty.

In [39]:
select.get_support()

array([ True,  True,  True, ...,  True,  True,  True])

In [40]:
X=select.transform(X)

In [41]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=1)

In [45]:
lr=LogisticRegression()
lr.fit(X_train,y_train)

C:\Users\OGHENEVO\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [46]:
lr_pred=lr.predict(X_test)

In [47]:
lr_pred

array([0, 0, 0, ..., 0, 1, 0], dtype=int64)

In [56]:
from sklearn.metrics import classification_report,confusion_matrix,accuracy_score

In [59]:
lr_accuracy= round(accuracy_score(y_test,lr_pred)*100,3)

In [60]:
lr_accuracy

73.4

In [1]:
import re